@import "@fontsource/roboto";

/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set Roboto globally */
html,
body {
  @apply font-sans;
  overflow-x: hidden;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
